*{
    margin: 0;
    padding: 0;
    cursor: url("../gif/cuosor.png") 0 0 ,auto !important;
}
a{
    text-decoration: none;
}
button,a,input,.other img{
    cursor: url("../gif/click.png") 0 0 ,auto !important;
}
body{
    overflow: hidden;
}
body,html{
    height: 100%;
    width: 100%;
}
.red{
    color: #EF5555;
}

body{
    background-image:url(../image/2.jpg);
    background-repeat:  no-repeat;
    background-position: center center;
    background-size: 100%  100%;
}
.filter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height:100%;
    width: 100%;
    background-image:url(../image/2.jpg);
    background-repeat:  no-repeat;
    background-position: center center;
    background-size: 100%  100%;
    border:1px solid rgba(255,255,255,.8);
    filter: blur(10px);
    z-index: -10;
}
.rol_1,.rol_2,.rol_3{
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.rol_1{
    width:670px;
    height:670px ;
    transform: translate(-50%,-60%);
    background-color: rgba(255,255,255,0.01);
    /* filter:brightness(10); */
     box-shadow: 0 0 40px 10px rgba(99, 99, 99, 0.01);
}

.rol_2{
    width:570px ;
    height:570px ;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 0 40px 10px rgba(46, 46, 46, 0.15);
}
.rol_3{
    width:470px ;
    height:470px ;
    background-color: rgba(255,255,255,.4);
    box-shadow: 0 0 40px 5px rgba(46, 46, 46, 0.15);
    text-align: center;
}
.form_box>p{
    text-indent: -10px;
    font-size: 32px;
    margin-top: 20px ;
    margin-bottom: 15px ;
}
.form_box{
    width:65%;
    height: 470px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    box-sizing: border-box;
}
[type="text"],[type="password"]{
    outline: none;
    width: 280px;
    height: 53px;
    border: 3px solid #999999;
    border-radius: 10px;
    margin:0 auto 10px auto;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    font-size: 18px;
}
.lock,.heart{
    display: block;
    width: 16px;
    height: 16px;
    float: right;content: "";
    display: block;
    width: 16px;
    height: 16px;
    float: right;
    background-image: url(../gif/heart.svg);
}
[type="text"]:focus,[type="password"]:focus{
    border-color:#EF5555;
}
[type="password"]::placeholder{
    font-size: 18px;
    transform: translateY(-10px);
}
[type="password"]{
    font-size: 50px;
    color: #6c757d;
}
[type="checkbox"]{
    width: 16px;
    height: 16px;
    border:1px  ridge #b9b9b9;
    margin-right: 5px;
    margin-top: 2px;
}
form span {
    vertical-align: top;
    float: left;
}
form .logon{
    width: 200px;
    height:50px;
    margin: 20px auto;
    background-color: #EF5555;
    border-radius:10px;
    border-style: solid ;
    border-color: #f45959;
    font-size: 22px;
    color: white;
}
.zhuce{
    display: block;
    font-size: 14px;
    color: #ef3f40;
}
.bar{
    display: block;
    margin: 10px auto;
    width: 270px;
    height: 1px;
    background: linear-gradient( to left,rgba(193,205,211,.2)0, rgba(225, 225, 225, 0.4) 25%, #ebebeb,rgba(225, 225, 225, 0.4) 75%,rgba(193,205,211,.2) 100%);
    /*background: linear-gradient( to left,rgba(46, 46, 46, 0.15) , #ebebeb ,rgba(46, 46, 46, 0.15) 100%);*/
}
.other{
    padding: 10px;
    width: 304px;
    height: 60px;
    box-sizing: border-box;
    float: left;
    /* margin: 11px auto; */
    margin-left: 20px;
}
.other span{
    float: left;
    display: block;
    font-size: 10px;
    width: 50px;
    height: 45px;
    margin-right: -17px;
    transform: translateX(-20px);
}
.other div{
    float: left;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(160, 159, 165, 0.81);
}
.other div img{
    width: 90%;
    height: 90%;
    position: center;
}